body {
	padding: 20px 0;
	background-color: #bdc3c7
}

.container {
	background-color: #fff;
}

p {
	font-size: 1.2em;
}

.footer {
	padding: 20px;
	background-color: #34495e;
	color: #fff;
}

/*
.round-top {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

.round-bottom {
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
*/