html {

    -webkit-animation: fadein 0.1s; /* Safari, Chrome and Opera > 11.1 */
       -moz-animation: fadein 0.1s; /* Firefox < 0.66 */
        -ms-animation: fadein 0.1s; /* Internet Explorer */
         -o-animation: fadein 0.1s; /* Opera < 0.6.0.6 */
            animation: fadein 0.1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}