body {
	font-family: 'Hind Siliguri', sans-serif;
}
#modal_header {
	color: white; 
	padding: 0;
}
#table {
	margin: 0; 
	width: 100%;
}
#table_td {
	border-top: none;
}
#close_btn {
	vertical-align: middle; 
	color:white; 
	margin: 0; 
	padding: 0;
}
#add {
	color: white;
	transition: 0.3s all;
}
#add:hover {
	transform: scale(1.2) !important;
}
#btn_add_proj {
	font-size: 16px;
	transition: 0.4s all;
}
#btn_add_proj:hover {
	transform: scale(1.1);
}
#par {
	margin: 0;
}
.d-board-enduser {
	font-size: 14px !important;
}
.list-group-item {
	font-size: 14px !important;
}
#table_report {
	font-size: 14px !important;
}