.nav-item {
	font-size: 14px !important; 
}
#approval {
	font-size: 14px !important;
}
#approved {
	font-size: 14px !important;
}
#completed {
	font-size: 14px !important;
}
#proj_accomp {
	font-size: 14px !important;	
}
