pre {
	font-family: "Segoe UI", courier, monospace;
	font-size: 14px;
	color: black;

}
body, p, h1, h2, h3 {
	word-wrap: normal;
}
.p_header {
	font-size: 1em;
	text-transform: uppercase; 
	margin-bottom: 0px;
	/*font-family: 'Arial' !important;*/
}
.p_header2 {
	font-size: 1em; 
	text-transform: uppercase; 
	margin-top: 0px;
	/*font-family: 'Arial' !important;*/
}
.td_items {
	position: absolute; 
	bottom: 0px;
}
.span_style {
	float: right; 
	padding-right: 200px;
}
.span_style_username {
	float: right; 
	padding-right: -150px;
}
.div1 {
	background: red;
}
.div2 {
	background: yellow;
}
.uppercase {
	text-transform: uppercase;
	margin-bottom: 0;
}
.removeall{
	margin: 0;
	padding: 0;
}
.removeall2{
	margin-top: -5px;
	padding: 0;
}
.username{
	margin-bottom: 0;
}
.section{
	margin-bottom: 0;
}

.body_style {
	font-size: 1em;
	width: 100%;
}
.tiny {
	font-size: 1em;
}
.tiny1 {
	font-size: 1em;
	margin: 10px;
}
#hh {
	padding: 0px 5px 0px 5px;
	border-bottom: 0;
	vertical-align: bottom;
}
#mm {
	width: 80%;
	padding-top: 0;
	padding-bottom: 20px;
	border-bottom: 0;
}
#username {
	width: 80%;
	border-top: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-align: bottom;
}
#oic {
	border-top: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-align: bottom;
	word-break:break-all; 
	word-wrap:break-word;
}
.p_title {
	font-size: 0.5em;
	margin: 0;
	font-weight: bold;
	text-align: right;
}
.p_title2 {
	font-size: 3em;
	font-weight: bold;
}
#card_body_style{
	padding: 0;
	width: 100%;
}
.table_style{
	margin-bottom: 0;
	width: 100%;
}
#approved {
	padding-top: 0;
	padding-bottom: 20px;
	border-bottom: 0;
}
#sign{
	vertical-align: bottom;
	border-top: 0;
	padding-top: 0;
	padding-bottom: 0;
}
#v-align{
	vertical-align: bottom;
}
.th_1{
	width: 100px;
}

table thead tr th {
	vertical-align: text-top;
}


.breadcrumb {
	padding-left: 0;
	background-color: transparent;
}



.pre_style{
	font-family: Segoe UI Symbol !important; 
	padding: 0 !important 
	margin: 0 !important;
	border: none !important;
	color: black !important;
	font-size: 14px;
}
/*.pre_style1 {
	font-family: Segoe UI Symbol; 
	padding: 0; 
	margin: 0;
	font-size: 1em;
}
*/


