#main_table {
	table-layout: auto;
	width: 100% !important;
	margin: 0 !important;
	font-size: 14px !important;
} 
ol {
	margin: 0;
}
#otherProjects {
	width: 100% !important;
	font-size: 14px !important;
}
.otherproj {
	font-size: 16px !important;
}
#mile_table {
	font-size: 14px !important;
}
#comment {
	font-size: 14px !important;
}