#table_ppmp {
	font-size: 14px !important;
}
#mile_table {
	font-size: 14px !important;
}
#table_pr {
	font-size: 14px !important;
}
#table_rfq {
	font-size: 14px !important;
}
#table_aoq {
	font-size: 14px !important;
}
#table_po {
	font-size: 14px !important;
}
#remarks_table {
	font-size: 14px !important;
}