hr {
	border: 1px solid white;
	width: 100%;
}
body	{
	/* Margin bottom by footer height */
 	position: relative;
	background-image: url('https://images.pexels.com/photos/87662/pexels-photo-87662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
footer {
	position: fixed;
	width: 100%;
	padding: 0.5%;
	bottom: 0;
}
#container_fluid{
	padding: 0; 
	padding-top: 100px; 
	margin: 0;
/*	background-image: url('https://images.pexels.com/photos/210307/pexels-photo-210307.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
}
#container {
/*	background-image: url('https://images.pexels.com/photos/210307/pexels-photo-210307.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
}
#submit {
	border-radius: 4px;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
	transition: 0.3s all;
	background: #27ae60;
	color: white;
}	
#submit:hover {
	transform: scale(1.3) !important;
}
#login_username {
	outline:none;
	box-shadow:none;
	border: none;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
	background: white;
	color: #3d3d3d;
	border-radius: 0px 4px 4px 0px;
}
#login_email {
	outline:none;
	box-shadow:none;
	border: none;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
	background: white;
	color: #3d3d3d;

}
#login_password_key {
	border-radius: 4px 0px 0px 4px;
	outline:none;
	box-shadow:none;
	border: none;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
	background: white;
	color: #3d3d3d;
}
#login_password {
	outline:none;
	box-shadow:none;
	border: none;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
	background: white;
	color: #3d3d3d;
}
#row {
	padding-top: 100px;
	margin: 0 auto;
	width: 100%;
}
#col {
	margin: 0;
	padding: 0;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
/*	background: rgba(0,0,0,0.7);*/
}
#col2 {
	margin: 0;
	width: 100%;
	/*background: rgba(255,255,255,0.4);*/
}
#h4 {
	font-weight: lighter;
	font-family: 'Segoe Ui';
	color: white;
	font-size: 32px;
	margin: 0;
}
#card {
	margin: auto;
	background: rgba(0,0,0,0);
	border: none;
	float: left;
	width: 100%;
}
#card_bod {
	order: none;
	padding: 0;
}
#h42 {
	font-size: 20px;
	font-family: 'Segoe Ui';
	font-weight: lighter;
	margin: 0;
}
#alert {
	font-size: 1em;
	display:none;
	background: #eb4d4b;
	color: white;
}
#white {
	color: #0984e3;
}
#emailHelp {
	color: white !important;
}
#table {
	border: none;
	width: 100%;
	height: 100%;
}
#empty {
	border: none;
}
#notempty {
	border: none;
	text-align: center;
	vertical-align: middle; 
	font-weight: lighter;
	font-family: 'Segoe Ui' !important;
}
#txt {
	font-size: 5vmin;
	font-size: 5vmax;
	color: white;
	padding: 0;
	/*background: rgba(0,0,0,0.2);*/
	margin: 0;
}
::placeholder {
	color: rgba(0,0,0,0.7) !important;
	opacity: 1;/* Firefox
}*/
:-ms-input-placeholder {  /*Internet Explorer 10-11 */
	color: rgba(0,0,0,0.7) !important;
	opacity: 1;
}
::-ms-input-placeholder { /* Microsoft Edge */
	color: rgba(0,0,0,0.7) !important;
	opacity: 1;
}