	#header {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0056e8+77,0e7cd6+100 */
background: #0056e8; /* Old browsers */
background: -moz-linear-gradient(top, #0056e8 77%, #0e7cd6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0056e8 77%,#0e7cd6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0056e8 77%,#0e7cd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0056e8', endColorstr='#0e7cd6',GradientType=0 ); /* IE6-9 */
		border-top: 2px solid #3896FF;
		border-radius: 4px 4px 0px 0px;
		padding: 0;
		padding-top: 5px;
		padding-left: 5px;
	}
	#exampleModalLabel {
		font-size: 13px;
		font-family: 'Arial';
		color: white;
		margin: 0;
		padding-bottom: 0;
		text-shadow: 1px 1px 3px black;
		font-weight: bold;
	}
	#text {
		font-size: 13px;
	}
	#body {
		/*background: #EFEBDE;*/
		border: none;
		box-shadow: none;
	}
	#dialog {
		border: 2px solid #0056E8;
		border-top: none;
		background: #EFEBDE;
		font-family: 'Arial';
	}
	#img {
		font-size: 12px !important;
	}
	#container {
		border-radius: 5px !important;
		border: 2px solid #DBD9CD;
		padding: 15px;
	}
	#ok {
		border: 1px solid #003D73;
		padding: 0;
		background: #F1F1E8;
		float: center;
	}
	#button_text {
		border-radius: 2px;
		margin: 0 !important;
		font-size: 12px;
		font-family: Arial;
		text-align: center;
		border: 1px solid #A9C1EA;
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	#button_close {
		background: url('https://t7.rbxcdn.com/af389cada7d20f4c717ddeb940eadaf6') no-repeat;
		background-size: contain;
		border: none;
		text-align: center;
		width: 5%;
		height: 5%;
		margin: 0;
		margin-bottom: 5px;
		padding: 0;
	}

	<!-- Modal -->
<div class="modal fade" id="samplemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" >
		<div class="modal-content" id="dialog">
			<div class="modal-header" id="header">
				<p class="modal-title" id="exampleModalLabel">Modal Title</p>
				<input id="button_close" type="button" class="btn" data-dismiss="modal" aria-label="Close" />
			</div>
			<div class="modal-body" id="body">
				<div class="container" id="container">
					<img src="https://openclipart.org/image/800px/svg_to_png/3743/zeimusu-Warning-notification.png" width="30" height="30">&nbsp; <span id="img">Hello! i'm Windows XP :)</span>
					</img>
				</div>
			</div>
			<div class="modal-footer text-center" id="footer">
				<center><button type="button" class="btn mr-auto" id="ok"><p id="button_text">OK</p></button></center>
			</div>
		</div>
	</div>
</div>